---
import Image from 'astro/components/Image.astro.jsx';
import Section from '../components/section';
import Layout from '../layouts/Layout.astro';
import {Card} from '@nextui-org/react';
---

<Layout title="My Portfolio">
	<main>
		<Section>
			<div class="bg-black w-full h-full">
					<Image src="path/to/image.jpg"  class='bg-white'/>
				<Card/>
			</div>


		</Section>

	</main>
</Layout>


